{% extends "base.html" %}

{% block title %}記事詳細{% endblock %}
{% block description %}{{ article.text | truncatechars:20 }}{% endblock %}

{% block content %}
    <h1 class="mb-4">記事詳細</h1>
    <div class="card mb-3">
	<h2 class="card-title"><a href="{% url 'shop' article.shop.id %}">{{ article.shop.title }}</a></h2>
	<div class="date">更新日時: {{ article.pub_date }}</div>
	<div class="card-body">
		{{ article.text }}
		<h3>ソース</h3>
		<div class="link">
			<a href="{{ article.src_url }}">{{ article.src_url }}</a>
		</div>
		<h3>画像</h3>
		{% if article.image_url1 is not None and article.image_url1 != '-' %}
			<img src="{{ article.image_url1 }}" width="50%" height="50%"/>
		{% endif %}
		{% if article.image_url2 is not None and article.image_url2 != '-' %}
			<img src="{{ article.image_url2 }}" width="50%" height="50%"/>
		{% endif %}
		{% if article.image_url3 is not None and article.image_url3 != '-' %}
			<img src="{{ article.image_url3 }}" width="50%" height="50%"/>
		{% endif %}
		{% if article.image_url4 is not None and article.image_url4 != '-' %}
			<img src="{{ article.image_url4 }}" width="50%" height="50%"/>
		{% endif %}
         </div>
    <div class="link"><a href="{% url 'index' %}">目次に戻る</a></div>
    </div>
{% endblock %}
