{% extends "base.html" %}

{% block title %}最新の情報{% endblock %}
{% block description %}適当
{% endblock %}

{% block content %}
    <h1 class="mb-4">情報サイト</h1>
    <h2 class="mb-3">新着情報</h2>
{% if latest_article_list %}
    
    {% for article in latest_article_list %}
    <div class="card mb-3">

    {{ article.pub_date }} <img src="{{ article.image_url1 }}" width='100' height='100' />
    <div class="card-body">
	<a href="{% url 'article' article.id %}">{{ article.text | truncatechars:30 }}</a>
    </div>
    {% endfor %}
    </div>
{% else %}
    <div class="card mb-3">
        記事はありません。
    </div>
{% endif %}
    </div>

    <div class="card mb-3">
    <h3 class="card-title">お店リスト</h3>
{% if shops %}
    <ul>
    {% for shop in shops %}
    <li><a href="{% url 'shop' shop.id %}">{{ shop.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
        お店はありません。
{% endif %}
    </div>
{% endblock %}
